body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

.header {
    text-align: right;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 5px;
}

.header span {
    font-size: 14px;
    background-color: orange;
    padding: 2px 6px;
    color: white;
    font-weight: bold;
}

h2 {
    color: orange;
}

.container {
    justify-content: space-between;
    margin-top: 20px;
}

.content {
    width: 100%;
}

.sidebar {
    width: 30%;
    background-color: #FFFAE5;
    padding: 10px;
    box-sizing: border-box;
    float: right;
    margin-left: 10px;
    border-top: 5px solid orange; /* Viền trên màu cam */
    border-left: 5px solid orange; /* Viền trái màu cam */
    border-bottom: 5px solid brown; /* Viền dưới màu nâu */
    border-right: 5px solid brown; /* Viền phải màu nâu */
}

.sidebar h2 {
    color: orange;
    padding: 5px;
    margin: -10px -10px 10px -10px;
    text-align: left;
}

.footer {
    font-size: 15px;
    text-align: center;
    margin-top: 40px;
    color: darkorange;
}

.custom-ul {
    color: rgb(182, 19, 19);
    padding-left: 0px;

}

ul {
    color: rgb(182, 19, 19);
}

/* Class cho body */
.link-background {
    background: url("Hinh/back.jpg") no-repeat fixed;
    background-repeat: repeat-y;
    height: 100%;
    margin-top: 10px;
}

a{
    font-family:'Times New Roman';
    font-size: 17px;
}

hr {
    border: 1px solid darkorange;
}